<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Example</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="flex">
    <div class="main-box">
    <div class="box" style="background-color: coral;">
        <h2>1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate excepturi temporibus enim molestiae cumque hic veniam laboriosam vel cum qui! In maiores iure quisquam aliquam neque, sint illum assumenda facere.</p>
    </div>
    <div class="box" style="background-color: greenyellow;">
        <h2>2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate excepturi temporibus enim molestiae cumque hic veniam laboriosam vel cum qui! In maiores iure quisquam aliquam neque, sint illum assumenda facere.</p>
    </div>
    <div class="box" style="background-color: lightblue;">
        <h2>3</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate excepturi temporibus enim molestiae cumque hic veniam laboriosam vel cum qui! In maiores iure quisquam aliquam neque, sint illum assumenda facere. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos doloremque nostrum natus in nulla! Sit exercitationem error numquam amet nam libero nulla repellendus, molestiae explicabo at, magni fugit accusamus quasi!</p>
    </div>
    <div class="box" style="background-color: lightseagreen;">
        <h2>4</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate excepturi temporibus enim molestiae cumque hic veniam laboriosam vel cum qui! In maiores iure quisquam aliquam neque, sint illum assumenda facere.</p>
    </div>
</div>
</body>
</html>